@model IEnumerable<Film>



<div class="row">
    @foreach (var film in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                              
                                <h5 class="card-title">
                                    @film.Ime
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                         <a class="text-white float-right" asp-controller="Filmovi" asp-action="Edit" asp-route-id="@film.Id"><i class="bi bi-pencil-square"></i></a>
                                    
                                    }
                                   
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="@film.UrlSlike" width="100%" alt="@film.Ime">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text">@film.Opis</p>
                            <p class="card-text"><b>Bioskop: </b>@film.Bioskop.Ime</p>
                            <p class="card-text"><b>Kategorija: </b>@film.KategorijaFilma</p>
                            <p class="card-text"><b>Datum Pocetka: </b>@film.DatumPocetka.ToString("dd MM yyyy")</p>
                            <p class="card-text"><b>Datum Zavrsetka: </b>@film.DatumZavrsetka.ToString("dd MM yyyy")</p>
                            <p class="card-text ">
                                <b>Status: </b>
                                @if (DateTime.Now >= film.DatumPocetka && DateTime.Now <= film.DatumZavrsetka)
                                {
                                    <span class="badge bg-success text-white">DOSTUPAN</span>
                                }
                                else if (DateTime.Now > film.DatumZavrsetka)
                                {
                                    <span class="badge bg-danger text-white">ISTEKAO</span>
                                }
                                else
                                {
                                    <span class="badge bg-primary text-white">USKORO</span>
                                }
                            </p>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer ">
                            <p class="card-text">
                                <a asp-controller="Filmovi" asp-action="Details" asp-route-id="@film.Id" class="btn btn-outline-primary float-right">
                                    <i class="bi bi-eye-fill"></i> Prikazi detalje
                                </a>
                                
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    @await Html.PartialAsync("_DugmeDodaj", "Filmovi") 

}
